body > footer {
    background: #000;
    padding: 35px 0;

    .copyright {
        color: #fff;
        font-size: 13px;
        display: inline-block;
        margin-bottom: 0;
    }

    .socials {
        float: right;
        @extend .ul-none;

        > li {
            float: left;

            a {
                color: #fff;
                font-size: 24px;
                margin-left: 40px;
                display: block;
            }

            &:first-child a {
                margin-left: 0;
            }
        }
    }
}
